

main>p{
    max-height: 10vh;
    max-width: 100%; /* Cambiado de width a max-width */
    color: white;
    text-align: center;
    font-size: 5vh;
    padding: 20px;
}

.cajas {
    max-height: 90vh; /* Cambiado de height a max-height */
    width: 40vw; /* Cambiado de width a max-width */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cajas div {
    flex-basis: calc(50% - 20px);
    max-width: 15vw;
    max-height: 25vh;
    text-align: center;
    margin-bottom: 1vh;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px; /* Ajustar el padding */
}

.cajas div img {
    max-width: 100%;
    max-height: 15vh;
    border-radius: 5px;

}

.cajas div a {
    max-height: 5vh;
    display: block;
    background-color: rgba(7, 7, 7, 255);
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}
img{
    height: 175px;
    width: 175px;
}



@media (max-width: 768px) {
    .cajas div {
        flex-basis: calc(100% - 20px); /* Tamaño completo para una columna en pantallas pequeñas */
    }
}

.lateralizq{
    width: 30vw; /* Cambiado de width a max-width */
    height: 90vh;
}

.organizador{
    max-width: 100vw; /* Cambiado de width a max-width */
    min-height: 90vh;
    display: flex;
    flex-direction: row;
}

.lateraldrch{
    width: 30vw; /* Cambiado de width a max-width */
    max-height: 90vh;
}

.verticalinicial{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 13vh;
    color: white;
    position: relative;
    top: 15%;
    left: 40%;
}
.verticalizq{
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    font-size: 20vh;
    color: grey;
    opacity: 20%;
    position: relative;
    bottom: 50%;
    left: 30%;
}

.vertical{
    writing-mode:vertical-rl;
    font-size: 13vh;
    color: white;
    position: relative;
    top: 20%;
    left: 30%;
}

.verticalatras{
    writing-mode:vertical-rl;
    font-size: 20vh;
    color: grey;
    opacity: 20%;
    position: relative;
    bottom: 50%;
    left: 30%;
}

footer{
    min-height: 10vh;
    background-color: rgba(7,7,7,255);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 5vh;
}


